*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-size: 16px;
}
body{
  height: 100vh;
  background-image: linear-gradient(to left, #30cfd0 0%, #330867 100% );
  
}
#root{
  display: flex;
  justify-content: center;
  align-items: center;
 
}

.App{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 
  padding: 50px;
  width: 100%;
  
}

header{
  margin-bottom: 40px;
  width: 80%;
  display: flex;
  justify-content: center;
  color: #fff;
  
}
.search-input-field{
  width: 80%;
  display: flex;
  justify-content: center;
}
input{
  width: 50%;
  border-radius: 10px;
  padding: 10px;
  border: 0;
 
}
.emoji-content{
  color: #fff;
  font-size: 1.5rem;
  width: 80%;
  
}
.emoji-field{
  display: flex;
  justify-content: flex-start;
  padding: 10px;
  border: 2px solid #fff;
  margin: 20px 0;
  border-radius: 10px;
}


*:focus{
  outline: none;
}